<footer class="pv4 ph3 ph5-m ph6-l white-80">
  <div class="tc mt3">
    Photo by Adobe Stock
  </div>
  
  <!-- START - We recommend to place the below code in footer or bottom of your website html  -->
  <script>
    window.LOCALE = 'en';
    window.EMAIL_INVALID_MESSAGE = window.SMS_INVALID_MESSAGE = "The data entered does not look like an email address. Please try again.";

    window.GENERIC_INVALID_MESSAGE = "The data entered does not look like an email address. Please try again.";




    window.translation = {
      common: {
        selectedList: '{quantity} liste sélectionnée',
        selectedLists: '{quantity} listes sélectionnées'
      }
    };

    var AUTOHIDE = Boolean(0);
  </script>
  <script src="https://sibforms.com/forms/end-form/build/main.js"></script>


  <!-- END - We recommend to place the above code in footer or bottom of your website html  -->
  <!-- End Sendinblue Form -->
  
</footer>
